{% extends "layout.html" %} 
{% block title %}Logistics{% endblock %} 
{% block upper_content %}
<a href="/">Supply order list</a>
<br>
<a href="/supply_order_inventory">Supply order inventory</a>
<br>
<a href="/batch_inventory">Batch inventory</a>
<br>
<h1>Virtual view of batches</h1>
{% include "/logistic/list_inventory.html" %} 
{% endblock %} 
{% block lower_content %} 
<h2>Update batch quantity</h2>
<form action="/update_batch" method="POST">
  <br />
  Batch nr:
  <input type="text" name="batchnr" />
  <br />
  Quantity:
  <input type="number" name="qty" />
  <br />
  <input type="submit" value="Send" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}
{% block back %}{% endblock %}