<table>
  <tr>
    <th>Order id</th>
    <th>Supplier id</th>
    <th>Supplier name</th>
    <th>Countrycode</th>
    <th>Order date</th>
    <th>Item id</th>
    <th>Item name</th>
    <th>Item qty</th>
  </tr>
  {% for order in orders %}
  <tr>
    <th>{{ order[0] }}</th>
    <th>{{ order[1] }}</th>
    <th>{{ order[2] }}</th>
    <th>{{ order[3] }}</th>
    <th>{{ order[4] }}</th>
    <th>{{ order[5] }}</th>
    <th>{{ order[6] }}</th>
    <th>{{ order[7] }}</th>
    <th>{{ order[8] }}</th>
  </tr>
  {% endfor %}
</table>
