<div class="text-center">
<h2>Update batch quantity</h2>
</div>
<div class="d-flex justify-content-center align-items-center container">
<div class="form-group">
<form action="/update_batch" method="POST">
  <br />
  <label for="batchnr">Batch nr</label>
  <input class ="form-control" type="text" required="true"  name="batchnr" id="batchnr"/>
  <br />
  <label for="qty">Quantity</label>
  <input class ="form-control" type="number" min="0" name="qty" id="qty"/>
  <br />
  <input class ="form-control" id="form" type="submit" value="Send" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
</div>
</div>