<div class="container">
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="color: #000000; background-color: #fafafa;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/controller_batches">Batches</a>
      <a class="dropdown-item" href="/controller_supply_orders">Supply orders</a>
      <a class="dropdown-item" href="/controller_new_supply_order">Place new supply order</a>
    </div>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="color: #000000; background-color: #fafafa;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/controller_list_sale_orders">List sale orders</a>
    </div>
  </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="color: #000000; background-color: #fafafa;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Items</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/controller_list_items">List all items/Create new item</a>
    </div>
  </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="color: #000000; background-color: #fafafa;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/controller_create_new_user">Create new user</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
    </div>
    <div class="w-150"></div>
</nav>
</div>

