<div class="container">
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-150" id="collapsingNavbar">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item {% if main_view %}active{% endif %}">
                <a class="nav-link" href="/">List inventory</a>
            </li>
            <li class="nav-item {% if sale_orders %}active{% endif %}">
                <a class="nav-link" href="/list_orders">List sale orders</a>
            </li>
             <li class="nav-item {% if create_company %}active{% endif %}">
                <a class="nav-link" href="/create_company">Create new company</a>
            </li>
            <li class="nav-item {% if create_company_user %}active{% endif %}">
                <a class="nav-link" href="/create_company_user">Create new company user</a>
            </li>
             <li class="nav-item {% if company_order %}active{% endif %}">
                <a class="nav-link" href="/create_order">Place company order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="w-150"></div>
</nav>
</div>