<div class="container">
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-150" id="collapsingNavbar">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="nav-link {% if main_view %}active{% endif %}" href="/">List inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if orders %}active{% endif %}" href="/list_supply_orders">List supply orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if form %}active{% endif %}" href="/supply_order_form">Supply order form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if new_supplier %}active{% endif %}" href="/create_new_supplier">Create new supplier</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if itemlist %}active{% endif %}" href="/items">List all items/Add new item</a>
            </li>
               <li class="nav-item">
               <a class="nav-link {% if inventory_status %}active{% endif %}" href="/inventory_status">Inventory status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="w-150"></div>
</nav>
</div>