<div class="text-center">
<h2>Add new item</h2>
</div>
<div class="d-flex justify-content-center align-items-center container">
<div class="form-group">
<form action="/add_new_item" method="POST">
  <label for="name">Name</label>
  <input class="form-control" required="true"   type="text" name="name" id="name" />
  <label for="price">Sell price</label>
  <input class="form-control" required="true" min="0.01" type="number" name="price" id="price" step="0.01" />
  <button id="form" class="form-control"  type="submit" class="btn btn-primary">Add new item</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
</div>
</div>