<title>Items</title>
<h1>Add new item</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1 style="color:red;" class=flashes>
    {% for message in messages %}
      {{ message }}</li>
    {% endfor %}
    </h1>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<form action="/add_new_item" method="POST">
  Add new item:
  <br />
  Name:
  <input type="text" name="name" />
  <br />
  Sell price:
  <input type="number" name="price" step="0.01" />
  <br />
  <input type="submit" value="Send" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<a href="/">back</a>
