{% extends "layout.html" %} 
{% block title %}Collector view{% endblock %} 
{% block upper_content %} 
<h1>Virtual view of inventory</h1>
{% include "/logistic/list_inventory.html" %} 
{% endblock %} 
{% block lower_content %}
<h2>Order {{ order_id }} details</h2>
<table>
  <tr>
    <th>Item name</th>
    <th>Remaining qty</th>
    <th>Collected qty</th>
  </tr>
  {% for order in orderdetails %}
  <tr>
    <th>{{ order[1] }}</th>
    <th>{{ order[4] }}</th>
    <th>{{ order[3] }}</th>
  </tr>
  {% endfor %}
</table>
<h2>Collect item</h2>
<form action="/collect_batch" method="POST">
<br>
Batch nr:
<input type="text" name="batch_nr">
<br>
Collected:
<input type="number" name="qty">
<br>
<input type="submit" value="Collect">
<input type="hidden" name="order_id" value="{{ order_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<form action="/create_shipment" method="POST">
<input type="submit" value="Complete shipment">
<input type="hidden" name="order_id" value="{{ order_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
 {% endblock %}
