<script src="{{url_for('static', filename='js/utils.js')}}"></script>
<div class="text-center">
  <h2>Collect item</h2>
</div>
<div class="d-flex justify-content-center align-items-center container">
  <div class="form-group">
    <form action="/collect_batch" method="POST">
      <label for="orderId">Batch nr.</label>
      <div class="input-group mb-3">
        <select
          class="custom-select"
          id="batch_nr"
          name="batch_nr"
          required="true">
          <option value="">Select batch nr.</option>
          {% for batch in batches %}</option>

          <option value="{{ batch[0] }}">{{ batch[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <label for="qty">Collected</label>
      <div class="input-group mb-3">
      <input
        class="form-control"
        required="true"
        min="1"
        type="number"
        name="qty"
        id="qty"
      />
      </div>
      <div class="input-group mb-3">
      <button class="form-control" type="submit" class="btn btn-primary">
        Collect
      </button>
      </div>
      <input type="hidden" name="order_id" value="{{ order_id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center container">
  <div class="form-group">
    <form
      onsubmit="return confirmShipment('{{ order_id }}')"
      method="POST"
      action="/create_shipment" id="form"
    >
      <button class="form-control" type="submit" class="btn btn-primary">
        Complete shipment
      </button>
      <input type="hidden" name="order_id" value="{{ order_id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    <br />
    <input
      type="button"
      class="form-control"
      value="Back"
      onclick="window.history.back()"
    />
  </div>
</div>
