{% extends "layout.html" %} 
{% block title %}Company{% endblock %} 
{% block upper_content %}
<h1>Order {{ order_id }} details</h1>
<p>Customer: {{ company[0] }}</p>
<p>Address: {{ company[1] }}</p>
<p>Email: {{ company[2] }}</p>
<p>Country: {{ company[3] }}</p>
<table>
  <tr>
    <td>Item name</td>
    <td>Quantity</td>
    <td>Price</td>
  </tr>
  {% for item in order %}
  <tr>
    <td>{{ item[1] }}</td>
    <td>{{ item[2] }}</td>
    <td>{{ item[5] }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td>Total:</td>
    <td>{{ total }}</td>
  </tr>
</table>
{% endblock %}
{% block lower_content %}
<a href="/">back</a>
{% endblock %}