{% extends "layout.html" %} 
{% block title %}Controller{% endblock %} 
{% block header %}Create new user{% endblock %}
{% block upper_content %} 
<form action="/create_new_user" method="POST">
  Username:
  <input type="text" value="" name="username"/>
  <br />
  Password:
  <input type="password" value="" name="password"/>
  <br />
  Re-type password:
  <input type="password" value="" name="password_check"/>
  <br>
  Authorization level:
  <input type="number" value="0" name="auth_lvl" />
  <br>
   1 = company, 2 = logistics, 3 = collector, 4 = sales, 5 = supply buyer, 6 = admin
   <br>
   <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
   <br>
  <input type="submit" value="Send" />
</form>
{% endblock %}