{% extends "layout.html" %} 
{% block title %}Sales{% endblock %} 
{% block header %}Create new company user{% endblock %}
{% block upper_content %} 
<form action="/create_new_company_user" method="POST">
  <br>
  Username:
  <input type="text" value="" name="username" />
  <br>
  Password:
  <input type="password" value="" name="password" />
  <br>
  Re-type password:
  <input type="password" value="" name="password_check" />
  <br>
  Company id:
  <input type="number" value="" name="company_id" />
  <br>
  <input type="submit" value="Send" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}